{{#name}}
## Class: {{name}}
{{/name}}
{{#description}}{{{description}}}{{/description}}

## PARAMS: {{paramnames}}
{{#params}}
**{{name}}**: {{#typesString}}`{{typesString}}`{{/typesString}}{{#description}}, {{{description}}}{{/description}}

{{/params}}

{{#members}}
**{{name}}**: {{#typesString}}`{{typesString}}`{{/typesString}} {{#description}}, {{{description}}}{{/description}}
{{/members}}
{{#methods}}
{{> function}}
{{/methods}}
