{{#modules}}
{{#name}}
{{name}}
---
{{/name}}

{{#description}}{{{description}}}{{/description}}

{{#functions}}
{{> function}}

{{/functions}}
{{#classes}}
{{#name}}
{{name}}
---
{{/name}}

{{#description}}{{{description}}}{{/description}}

{{#functions}}
{{> function}}

{{/functions}}

{{/classes}}
{{/modules}}
---

{{#copyright}}*{{copyright}}*{{/copyright}}

{{#license}}**License:** {{license}} {{/license}}{{#author}}{{author}}{{/author}}

{{#overview}}**Overview:** {{{overview}}}{{/overview}}

{{#version}}**Version:** {{version}}{{/version}}
